*   *   *   *   *  /usr/local/bin/php /app/app/cli/cli.php index bitcoin >/dev/null 2>&1
*   *   *   *   *  /usr/local/bin/php /app/app/cli/cli.php index getrates >/dev/null 2>&1
# An empty line is required at the end of this file for a valid cron file.
